@font-face {
  font-family: OpenSansHebrew;
  src: url(assets/fonts/OpenSansHebrew-Regular.ttf);
}

@font-face {
  font-family: OpenSansHebrewLight;
  src: url(assets/fonts/OpenSansHebrew-Light.ttf);
}
@font-face {
  font-family: OpenSansHebrewBold;
  src: url(assets/fonts/OpenSansHebrew-Bold.ttf);
}
